_credentials.py
__*.py
*.csv
simstring.py

*.db

names.db.1.cdb

*.cdb

ratios.json

facebook_names.json

fb.json

name_ids.json

*.json

fb.json

twitter_names.json

twitter.json

url_names.json

urls.json
